In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("Sucessful")

Sucessful

In [2]:
trainset = pd.read_csv("Data/train.csv")
testset = pd.read_csv("Data/test.csv")

In [3]:
trainset.pay_schedule = trainset.pay_schedule.apply(lambda x: 4.3333 if x == "weekly" else 
                                         2.166 if x == "bi-weekly" else
                                         2 if x == "semi-monthly" else
                                         1 )

In [4]:
trainset.pay_schedule.value_counts()

2.1660    7447
4.3333    2627
2.0000    1388
1.0000    1054
Name: pay_schedule, dtype: int64

In [5]:
trainset.drop("Entry_id", axis = 1, inplace = True)

In [6]:
X = trainset.drop("e_signed", axis = 1)
y = trainset["e_signed"]

In [24]:
testset.pay_schedule = testset.pay_schedule.apply(lambda x: 4 if x == "weekly" else 
                                         3 if x == "bi-weekly" else
                                         2 if x == "semi-monthly" else
                                         1 )

In [25]:
test = testset.drop("Entry_id", axis = 1)
sub = testset["Entry_id"]

In [26]:
from sklearn.ensemble import RandomForestClassifier 

rfmodel = RandomForestClassifier()

rfmodel.fit(X,y)

RandomForestClassifier()

In [27]:
from sklearn.model_selection import cross_val_score
lt =  []
for feature in X.columns:
    scores = cross_val_score(rfmodel,X[feature].values.reshape(-1,1),y,scoring = "roc_auc", cv = 5)
    lt.append(scores.mean())
        
print(lt)

[0.5390583431030918, 0.508661068961797, 0.5271736676899934, 0.5125321485451354, 0.5072226061457606, 0.5133927866739973, 0.4965293159441364, 0.541545570410778, 0.5296814438860347, 0.5133363649132081, 0.6396637135011771, 0.5178824705069115, 0.4965566394176678, 0.5090462430799423, 0.5023524414285601, 0.4915047841081572, 0.4941409486232461, 0.4936524119092465, 0.5038081727820157]

In [18]:
X.columns

Index(['age', 'pay_schedule', 'home_owner', 'income', 'months_employed',
       'years_employed', 'current_address_year', 'personal_account_m',
       'personal_account_y', 'has_debt', 'amount_requested', 'risk_score',
       'risk_score_2', 'risk_score_3', 'risk_score_4', 'risk_score_5',
       'ext_quality_score', 'ext_quality_score_2', 'inquiries_last_month'],
      dtype='object')

In [28]:
fe = pd.DataFrame({"Entry_id":X.columns,"e_signed":lt})
fe.sort_values("e_signed", ascending = False)

                Entry_id  e_signed
10      amount_requested  0.639664
7     personal_account_m  0.541546
0                    age  0.539058
8     personal_account_y  0.529681
2             home_owner  0.527174
11            risk_score  0.517882
5         years_employed  0.513393
9               has_debt  0.513336
3                 income  0.512532
13          risk_score_3  0.509046
1           pay_schedule  0.508661
4        months_employed  0.507223
18  inquiries_last_month  0.503808
14          risk_score_4  0.502352
12          risk_score_2  0.496557
6   current_address_year  0.496529
16     ext_quality_score  0.494141
17   ext_quality_score_2  0.493652
15          risk_score_5  0.491505

In [12]:
sub4 = pd.DataFrame({"Entry_id":testset.Entry_id,"e_signed":test_pred4})
sub4.to_csv("Data/sub4.csv", index=False)

score: 0.630

In [13]:
import catboost as ctb


ctbmodel = ctb.CatBoostClassifier()

ctbmodel.fit(X,y, silent = True)

In [14]:
test_pred3 = ctbmodel.predict(test)

In [15]:
sub5 = pd.DataFrame({"Entry_id":testset.Entry_id,"e_signed":test_pred3})
sub5.to_csv("Data/sub5.csv", index=False)

score: 0.6513

In [18]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.6.2-py3-none-win_amd64.whl (125.4 MB)
Requirement already satisfied: scipy in c:\users\cypher\anaconda3\lib\site-packages (from xgboost) (1.7.1)
Requirement already satisfied: numpy in c:\users\cypher\anaconda3\lib\site-packages (from xgboost) (1.20.3)
Installing collected packages: xgboost
Successfully installed xgboost-1.6.2

In [22]:
import xgboost as xgb


xgbmodel = xgb.XGBClassifier()

xgbmodel.fit(X,y)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [23]:
test_pred6 = xgbmodel.predict(test)

In [24]:
sub6 = pd.DataFrame({"Entry_id":testset.Entry_id,"e_signed":test_pred6})
sub6.to_csv("Data/sub6.csv", index=False)

score: 0.633