In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("Sucessful")

Sucessful

In [9]:
trainset = pd.read_csv("Data/train.csv")
testset = pd.read_csv("Data/test.csv")

In [3]:
'''trainset.pay_schedule = trainset.pay_schedule.apply(lambda x: 4.3333 if x == "weekly" else 
                                         2.166 if x == "bi-weekly" else
                                         2 if x == "semi-monthly" else
                                         1 )

In [10]:
trainset.head()

,Entry_id,age,pay_schedule,home_owner,income,months_employed,years_employed,current_address_year,personal_account_m,personal_account_y,...,amount_requested,risk_score,risk_score_2,risk_score_3,risk_score_4,risk_score_5,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed
0,7629673,40,bi-weekly,1,3135,0,3,3,6,2,...,550,36200,0.737398,0.903517,0.487712,0.515977,0.580918,0.380918,10,1
1,5335819,33,semi-monthly,0,3590,0,5,2,2,8,...,1100,53850,0.617361,0.857560,0.613487,0.665523,0.744634,0.744634,12,0
2,8492423,21,weekly,0,2303,0,5,8,2,7,...,600,74850,0.677109,0.758765,0.495609,0.664762,0.592556,0.492556,6,1
3,7948313,26,bi-weekly,0,2795,0,4,4,1,6,...,800,50800,0.738055,0.873204,0.666437,0.700392,0.584130,0.684130,14,1
4,4297036,43,bi-weekly,0,5000,0,2,1,1,2,...,1100,69100,0.798303,0.841747,0.401971,0.568787,0.525905,0.725905,5,1

In [11]:
trainset.groupby('pay_schedule').income.median()

pay_schedule
bi-weekly       3230.0
monthly         3522.5
semi-monthly    3585.0
weekly          3245.0
Name: income, dtype: float64